.container {
    margin-top: 4rem;
    width: 100%;
    display: grid;
    grid-template-columns: 33% 67%;
}
.imageContainer {
    height: 100%;
    background-image: url("../public/about-me.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.content {
    max-width: 870px;
    margin-right: auto;
    padding: 6rem;
}
.title {
    margin: 0 0 14rem 0;
    font-size: 3rem;
    position: relative;
    z-index: 1;
}
.titleWrapper {
    position: relative;
    /* outline: 1px solid green; */
}
.titleWrapper::before {
    position: absolute;
    content: "";
    z-index: 0;

    top: -4rem;
    left: 12rem;

    height: 16rem;
    width: 8rem;

    background-image: url("../public/decorator-light.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .3;
}
.titleWrapper::after {
    content: "";
    position: absolute;
    top: -30px;
    right: -90px;
    height: 240px;
    width: 240px;
    background-image: url("/avatar.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    opacity: .95;
    box-shadow: 2px 2px 22px var(--shadow01)
}
.subtitle {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    color: var(--accent03);
}

/* .content {
    outline: 1px solid green;
} */
.content p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 4rem;
    /* letter-spacing: .2px; */
}
.content p a {
    font-weight: 600;
}
.content p a:hover {
    color: var(--accent01);
    text-decoration: underline;
}
