.container {
    margin-top: 4rem;
    width: 100%;
    display: grid;
    grid-template-columns: 33% 67%;
}
.imageContainer {
    height: 100%;
    background-image: url("../public/contact.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.contentContainer {
    width: 100%;
    background-color: var(--bg-dark01);
    color: white;
}
.content {
    max-width: 870px;
    margin-right: auto;
    padding: 6rem;
}
.title {
    margin: 0 0 12rem 0;
    font-size: 3rem;
    position: relative;
    z-index: 1;
}
.titleWrapper {
    position: relative;
}
.titleWrapper::before {
    position: absolute;
    content: "";
    z-index: 0;

    top: -4rem;
    left: 2rem;

    height: 16rem;
    width: 8rem;

    background-image: url("../public/decorator-dark.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .3;
}
.content p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    letter-spacing: .5px;
}

/* Email form */

.form {
    display: flex;
    flex-direction: column;
    padding: 0 4rem 0 0;
    margin-bottom: 10rem;
}
.label {
    margin: 2.2rem 0 .4rem 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--accent01);
}
.text,
.textarea {
    padding: .8rem;
    border: none;
    outline: none;
    font-size: 1.2rem;
    border-radius: 4px;
    color: var(--bg-dark02);
    font-family: inherit;
}
.text {
    max-width: 400px;
}
 /* checbox sandbox */
 .checkboxContainer,
 .checkboxContainerError {
    margin: 2rem 0;
    display: flex;
    justify-content: "flex-start";
    width: "100%";
    max-width: 560;
    padding: .5rem;
    border: 1px solid var(--bg-dark02);
    border-radius: 4px;
 }
 .checkbox {
    cursor: pointer;
    background-color: var(--success);
  }
 .checkbox:checked {
    background-color: var(--success);
  }
 .checkboxContainerError {
    border: 1px solid var(--error);
 }
 .checkboxLabel,
 .checkboxLabelError {
font-size: .9rem;
letter-spacing: 1px;
font-family: inherit;
padding: .5rem;
 }
 .checkboxLabelError {
color: var(--error);
 }
.submitBtn,
.loaderBtn {
    padding: .8rem 2.2rem;
    margin-right: auto;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    background: var(--accent01);
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    color: white;

    border: 2px solid var(--accent01);  
}
.submitBtn:hover {
    color: var(--bg-dark01);
}
/* Let's connect! */

.letsConnect {
    margin: 10rem 0 4rem;
}
.letsConnect h2 {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 3rem;
}
.letsConnect p {
    font-size: 1.1rem;
    margin-bottom: 1.8rem;
    cursor: pointer;
    fill: white;
    display: flex;
    align-items: center;
}
.letsConnect a {
    display: flex;
    align-items: center;
}
.letsConnect a span {
    margin-left: 1rem;
}
.letsConnect p:hover {
    color: var(--accent01);
    fill: var(--accent01);
}
.liIcon {
    fill: inherit;
}

/* Success Popup */

.success {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;

}
.success p {
    background: var(--success);
    color: white;
    padding: 2rem 5rem 2rem 4rem;
    letter-spacing: 1px;
    font-weight: 500;
    border: 1px solid var(--success);
    border-radius: 4px;
    box-shadow: 4px 4px 24px var(--shadow02);
    position: relative;
}
.success p::after {
    position: absolute;
    top: 4px;
    right: 7px;
    content: "x";
    padding: .1rem;
    color: white;
    cursor: pointer;
}   
.loaderBtn {
   background: var(--bg-dark01);
   border-color: var(--bg-dark01);
   padding: 0;
   margin-left: 4rem
}
.loaderContainer {
    margin-left: 4.5rem;
}
.loader {
    height: 2.7rem;
}
