/* ------ rework layout grid ------------------------ */
.featured1,
.featured2 {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  padding: 12rem 0 0;
  color: var(--textPrimary);
}
.featured2 {
  padding: 22rem 0 12rem;
  margin-top: -2rem;
  background: linear-gradient(217deg, var(--bg-dark03), rgba(0, 0, 0, 1) 100%);
  color: var(--textPrimaryDark);
  clip-path: polygon(0 23%, 100% 0, 100% 100%, 0% 100%);
}
.featuredLeft {
  padding: 0 3rem;
  max-width: 650px;
  margin-left: auto;
}
.image {
  width: 60%;
  border-radius: 50%;
  display: block;
  margin-inline: auto;
  margin-top: 4rem;
  box-shadow: 8px 8px 60px rgba(0, 220, 250, 0.05);
}
.featuredLeft2 {
  padding: 0 3rem 0 0;
  max-width: 650px;
}
/* ------------------------------------------------------ */
.featuredTitle {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.1;
  margin: 0;
}
.featuredSubtitle,
.featuredSubtitle2 {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 4px;
  margin-bottom: 1.2rem;
}
.featuredSubtitle {
  color: var(--accent03);
}
.featuredSubtitle2 {
  color: var(--accent02);
}
.featuredWww {
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: inherit;
  margin: 0.65rem 0 5rem 0;
}

.featuredSubhead {
  font-size: 1.6rem;
  font-weight: 600;
  color: inherit;
  text-shadow: 0px 0px 1px rgba(5, 9, 14, 0.1);
  margin-bottom: 2.5rem;
}
.featuredPara {
  margin-bottom: 2rem;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color: inherit;
}
.featuredBtnsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 4rem 0 0;
}
.featuredBtn,
.featuredBtn2 {
  padding: 0.8rem 2.2rem;
  cursor: pointer;
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 1px;
  background: none;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.featuredBtn {
  color: var(--accent03);
  border: 2px solid var(--accent03);
}
.featuredBtn:hover {
  color: white;
  border: 2px solid var(--accent03);
  background-color: var(--accent03);
}
.featuredBtn2 {
  color: var(--accent02);
  border: 2px solid var(--accent02);
}
.featuredBtn2:hover {
  color: white;
  border: 2px solid var(--accent02);
  background-color: var(--accent02);
}
.imgMobile {
  display: none;
}

/* 
   Responsive
*/

@media (max-width: 1300px) {
  .featured1 {
    grid-template-columns: 66% 34%;
  }
  .featured2 {
    grid-template-columns: 34% 66%;
  }
  .featuredLeft {
    max-width: unset;
  }
}

@media (max-width: 900px) {
  .featured1 {
    padding: 5rem 1.5rem 0;
  }
  .featured2 {
    padding: 12rem 1.5rem 5rem;
    margin-top: -4rem;
    clip-path: polygon(0 12%, 100% 0, 100% 100%, 0% 100%);
  }
  .featuredLeft {
    padding: 0;
  }
  .featuredTitle {
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1;
  }
  .featuredSubtitle,
  .featuredSubtitle2 {
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 1rem;
  }
  .featuredWww {
    font-size: 1rem;
    letter-spacing: 1px;
    margin: 0.5rem 0 5rem 0;
  }
  .featuredSubhead {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }
  .featuredPara {
    margin-bottom: 1.5rem;
  }
  .featuredBtnsContainer {
    flex-direction: column;
  }
  .featuredBtnsContainer > * {
    margin-bottom: 1rem;
  }
  .featuredBtn,
  .featuredBtn2 {
    padding: 0.7rem 2rem;
    font-size: 0.85rem;
    font-weight: 600;
  }
}
@media (max-width: 680px) {
  .featured1,
  .featured2,
  .featured1:first-of-type,
  .featured1:first-of-type {
    grid-template-columns: 100%;
    width: 100%;
  }
  .image {
    width: 80%;
  }

  .featured2 {
    margin-top: -3rem;
    padding: 9rem 1.5rem 5rem;
    clip-path: polygon(0 6%, 100% 0, 100% 100%, 0% 100%);
  }
  .featured1 {
    margin: 0;
    padding-top: 3rem;
  }
  .featuredLeft2 {
    padding: 0;
  }
  .imgMobile {
    display: block;
    margin: 3rem 0;
  }
  .featuredRight {
    display: none;
    width: 0;
  }
  .featuredTitle {
    font-size: 1.8rem;
  }
  .featuredSubtitle,
  .featuredSubtitle2 {
    font-weight: 800;
    letter-spacing: 0.5px;
    margin-bottom: 1rem;
  }
  .featuredWww {
    font-size: 0.9rem;
    letter-spacing: 1px;
    margin: 0.5rem 0;
  }
  .featuredSubhead {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  .featuredBtnsContainer {
    margin: 2rem 0;
  }
}
@media (max-width: 380px) {
  .featured1 {
    padding: 3rem 1rem 2rem;
  }
  .featured2 {
    padding: 6rem 1rem 0;
  }
  .featuredTitle {
    font-size: 1.8rem;
  }
  .featuredSubtitle,
  .featuredSubtitle2 {
    font-size: 0.85rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
  }
  .featuredWww {
    font-size: 0.85rem;
    letter-spacing: 0.5px;
    margin: 0.2rem 0;
  }
  .featured2 .featuredTitle,
  .featured2 .featuredWww,
  .featuredSubtitle2 {
    margin-left: 50%;
  }
  .featuredPara {
    margin-bottom: 1.2rem;
  }
}
