.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 10, 10, .85);
  color: var(--isabelline);
  z-index: 3000;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.nav a {
  padding: 0.5rem 1rem;
  margin: 0.1rem;
  transition: all 0.2s ease-in-out;
}
.nav a:hover {
  color: var(--accent01);
}
.path {
  fill: var(--isabelline);
  transition: all 0.2s ease-in-out;
}
.nav a:hover .path {
  fill: var(--accent01);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: auto;
  padding: 0rem 3rem;
}

.logo {
  font-size: 1.4rem;
  font-weight: 500;
  text-shadow: 0px 0px 2px var(--persianBlue);
  cursor: pointer;
}

.firstname {
  color: var(--isabelline);
}

.lastname {
  color: var(--accent01);
}

.hero {
  width: 100%;
  background: url(/hero.png);
  color: #ffffff;
  padding-bottom: 0;
  position: relative;
}
.svg {
  z-index: 10;
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
}
.heroContainer {
  max-width: 1300px;
  padding: 3rem;
  margin: auto;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* position: relative; */
}

.title {
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 3rem 0;
  text-shadow: 0px 0px 2px var(--isabelline);
}
.subtitle {
  margin-top: 10rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 4px;
  color: white;
  text-shadow: 0px 0px 2px var(--persianBlue);
}
.btnContainers {
  margin-bottom: 12rem;
  display: flex;
}

.cta {
  margin-right: 3rem;
  padding: 1.2rem 5rem 1rem 5rem;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1px;
  background: var(--white);
  opacity: 0.9;
  color: rgba(20, 39, 57, 1);
  border: 2px solid var(--white);
  border-radius: 5px;
  box-shadow: 0px 0px 40px rgba(20, 39, 57, 0.5);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.cta:hover {
  opacity: 0.9;
  color: rgba(20, 39, 57, 1);
  border: 2px solid var(--accent01);
  background: var(--accent01);
}
.ctaSecondary:hover {
  opacity: 0.9;
  color: var(--accent01);
  border: 2px solid var(--accent01);
}
.ctaSecondary {
  padding: 1.2rem 5rem 1rem 5rem;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1px;
  background: none;
  opacity: 0.9;
  color: var(--isabelline);
  border: 2px solid var(--white);
  border-radius: 5px;
  box-shadow: 0px 0px 40px rgba(20, 39, 57, 0.5);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.title,
.subtitle,
.cta {
  z-index: 100;
}
.featured {
  min-height: 70vh;
}


/* -------------------------------------------------------- */

.featured {
  display: flex;
  width: 100%;
  margin: auto;
  margin-top: 8rem;
  /* border: 1px solid blue; */
}
.featuredLeft {
  padding: 0 3rem;
  max-width: 650px;
  margin-left: auto;
  /* border: 1px solid green; */
}
.featuredRight2 {
  padding: 0 3rem 0 0;
  max-width: 650px;
  /* margin-left: auto; */
  /* border: 1px solid green; */
}
.featuredRight {
  width: 50%;
  margin-top: -12rem;
  /* border: 1px solid red; */
  background-image: url("../public/cm-project.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.featuredTitle {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.1;
  margin: 0;
  text-shadow: 0px 0px 2px rgba(5, 9, 14, 0.3);
  color: rgb(7, 13, 19);
}
.featuredSubtitle {
  /* margin-top: 10rem; */
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 4px;
  color: var(--accent03);
  text-shadow: 0px 0px 34px rgba(5, 9, 14, 0.1);
}
.featuredSubtitle2 {
  /* margin-top: 10rem; */
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 4px;
  color: var(--accent02);
  text-shadow: 0px 0px 34px rgba(5, 9, 14, 0.1);
}
.featuredWww {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgba(5, 9, 14, 1);
  text-shadow: 0px 0px 2px rgba(5, 9, 14, 0.1);
  margin-bottom: 4rem;
}

.featuredSubhead {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--textPrimary);
  text-shadow: 0px 0px 1px rgba(5, 9, 14, 0.1);
  margin-bottom: 1rem;
}
.featuredPara {
  margin-bottom: 5rem;
  font-size: 1rem;
  letter-spacing: .5px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--textPrimary);
}
.featuredPara2 {
  margin-top: 2.5rem;
  font-size: 1rem;
  letter-spacing: .5px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--textPrimary);
}
.featuredBtnsContainer {
  flex-direction: column;
}
/* --------------------------------------------------------- */
.whatIDoBackground {
  background: linear-gradient(
    150deg,
    rgba(46, 91, 132, 1) 0%,
    rgba(20, 39, 57, 1) 99%
  );
  min-height: 40vh;
}
.whatIDoContainer {
  max-width: 1300px;
  margin: auto;
  display: flex;
}
.whatIDoLeft {
  flex: 1;
}
.whatIDoRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 10rem;
}

.whatIDoTitle {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.1;
  margin: 0 0 5rem 0;
  text-shadow: 0px 0px 2px rgba(5, 9, 14, 0.3);
  color: var(--isabelline);
}
.whatIDoSubtitle {
  /* margin-top: 10rem; */
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 10px;
  color: var(--darkTurquoise);
  text-shadow: 0px 0px 34px rgba(5, 9, 14, 0.1);
}

.whatIDoSubhead {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--isabelline);
  /* text-shadow: 0px 0px 1px rgba(5, 9, 14, 0.1); */
  margin-bottom: 1rem;
  opacity: 0.7;
}
.featuredBtnsContainer {
  flex-direction: column;
}
.whatIDoPara {
  margin-bottom: 5rem;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--isabelline);
  padding-right: 6rem;
  opacity: 0.8;
}
.ctaAbout {
  margin-bottom: 6rem;
  padding: 1.2rem 5rem 1rem 5rem;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1px;
  background: none;
  opacity: 0.9;
  color: var(--isabelline);
  border: 2px solid var(--white);
  border-radius: 5px;
  box-shadow: 0px 0px 40px rgba(20, 39, 57, 0.5);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.ctaAbout:hover {
  opacity: 0.9;
  color: rgb(0, 197, 198);
  border: 2px solid rgb(0, 197, 198);
}
