.hero {
  width: 100%;
  background: url(/hero.png);
  background-position: top;
  background-size: cover;
  color: #ffffff;
  padding-bottom: 0;
  position: relative;
}
.heroContainer {
  max-width: 1300px;
  padding: 3rem;
  margin: auto;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.title {
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 3rem 0;
}
.subtitle {
  margin-top: 10rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 4px;
  color: white;
  white-space: nowrap;
}
.btnContainers {
  margin-bottom: 12rem;
  display: flex;
}

.cta,
.ctaSecondary {
  padding: 1.2rem 5rem 1rem 5rem;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.cta {
  background: var(--white);
  color: rgba(20, 39, 57, 1);
  border: 2px solid var(--white);
}
.ctaSecondary {
  margin-left: 3rem;
  background: none;
  backdrop-filter: blur(8px);
  color: var(--isabelline);
  border: 2px solid var(--white);
}
.cta:hover {
  color: rgba(20, 39, 57, 1);
  border: 2px solid var(--accent01);
  background: var(--accent01);
}
.ctaSecondary:hover {
  color: var(--accent01);
  border: 2px solid var(--accent01);
}

.title,
.subtitle,
.cta {
  z-index: 100;
}

/* 
   Responsive
*/

@media (max-width: 900px) {
  .heroContainer {
    padding: 2rem;
    min-height: 0;
  }

  .title {
    font-size: 3.2rem;
    margin: 0 0 2rem 0;
  }
  .subtitle {
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
    letter-spacing: 2px;
  }
  .btnContainers {
    margin-bottom: 10rem;
  }
  .cta,
  .ctaSecondary {
    padding: 0.8rem 3rem 0.8rem 2.8rem;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: unset;
    border-radius: 4px;
  }
  .ctaSecondary {
    margin-left: 2.5rem;
  }
}

@media (max-width: 680px) {
  .hero {
    clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
  }
  .heroContainer {
    padding: 1.5rem;
  }
  .title {
    font-size: 2.8rem;
  }
  .subtitle {
    font-size: 1.3rem;
    letter-spacing: 1px;
  }
  .ctaSecondary {
    margin-left: 2rem;
  }
}

@media (max-width: 400px) {
  .title {
    margin-bottom: 2.5rem;
  }
  .subtitle {
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
  .btnContainers {
    flex-direction: column;
  }
  .cta,
  .ctaSecondary {
    padding: 0.9rem 3.2rem 0.9rem 3rem;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: unset;
    border-radius: 4px;
  }
  .ctaSecondary {
    margin-left: 0;
    margin-top: 2rem;
  }
}
