.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 10, 10, 1);
  color: var(--isabelline);
  z-index: 3000;
  padding: 0.9rem 0;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.hamburger {
  display: none;
  padding: 0 0.5rem 0.3rem 0.5rem;
}
.hamburgerIcon,
.hamburgerIcon::after,
.hamburgerIcon::before {
  width: 28px;
  height: 2.5px;
  background: var(--accent01);
  border-radius: 20rem;
  position: relative;
}
.hamburgerIcon::before {
  position: absolute;
  content: '';
  top: -9px;
}
.hamburgerIcon::after {
  position: absolute;
  content: '';
  top: 9px;
}
.nav a {
  padding: 0.5rem 1rem;
  margin: 0.1rem;
  transition: all 0.2s ease-in-out;
}

.nav a:hover {
  color: var(--accent01);
}

.path {
  fill: var(--isabelline);
  transition: all 0.2s ease-in-out;
}
.nav a:hover .path {
  fill: var(--accent01);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: auto;
  padding: 0rem 3rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: 500;
  text-shadow: 0px 0px 2px var(--persianBlue);
  cursor: pointer;
}

.firstname {
  color: var(--isabelline);
}
.lastname {
  color: var(--accent01);
}

/* 
   Drawer
*/

.drawerOpen,
.drawerClosed {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 55%;
  background: linear-gradient(217deg, rgba(0, 0, 0, 1), var(--bg-dark02) 100%);
  text-transform: uppercase;
  font-weight: 500;
  transform: translateX(0);
  transition: all 0.4s ease;
}
.drawerClosed {
  transform: translateX(100%);
}
.drawerOpen ul,
.drawerClosed ul {
  margin-top: 8rem;
}
.drawerOpen li,
.drawerClosed li {
  padding: 1rem 1rem 1rem 2rem;
  letter-spacing: 0.5px;
  font-size: 1.2rem;
}
.drawerOpen li:hover {
  color: var(--accent01);
}
.closeBtnContainer {
  position: absolute;
  top: 1.6rem;
  right: 1rem;
}
.closeBtn,
.closeBtn::after,
.closeBtn::before {
  width: 28px;
  height: 2.5px;
  background: none;
  border-radius: 20rem;
  position: relative;
}
.closeBtn::before {
  position: absolute;
  background: var(--accent01);
  content: '';
  top: 0;
  transform: rotate(45deg);
}
.closeBtn::after {
  position: absolute;
  content: '';
  background: var(--accent01);
  top: 0;
  transform: rotate(-45deg);
}

/* 
   Responsive
*/

@media (max-width: 900px) {
  .flex {
    padding: 0rem 1.5rem;
  }
  .nav {
    font-weight: 500;
    font-size: 0.9rem;
  }
  .nav a {
    padding: 0.5rem 0.4rem;
  }
  .logo {
    font-size: 1.4rem;
    padding-left: 0.5rem;
  }

  .nav svg {
    height: 24px;
  }
}

@media (max-width: 680px) {
  .nav li:nth-of-type(1),
  .nav li:nth-of-type(2),
  .nav li:nth-of-type(3),
  .nav li:nth-of-type(4) {
    outline: 1px solid greenyellow;
    display: none;
  }
  .flex {
    padding: 0;
  }
  .hamburger {
    display: block;
  }
  .nav a {
    padding: 0.2rem;
  }
  .logo {
    font-size: 1.3rem;
  }
  .navbar {
    padding: 0.9rem 0.5rem 0.5rem 1rem;
  }
}

@media (max-width: 380px) {
  .navbar {
    padding: 0.7rem 0.5rem 0.5rem 0.5rem;
  }
  .logo {
    font-size: 1.1rem;
  }
}

/* 
 *  Footer
 */

.footerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(217deg, var(--bg-dark02), rgba(0, 0, 0, 1) 100%);

  padding: 1rem 0;
}

.footerNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footerNav li {
  padding: 0.1rem 1rem;
  font-size: 0.9rem;
  border-right: 1px solid white;
  color: rgb(255, 255, 255);
}
.footerNav li:hover {
  color: var(--accent01);
}
.footerNav li:last-of-type {
  border-right: none;
}
.mobileIcons {
  display: none;
}

/* 
 *  Responsive footer 
 */

@media (max-width: 900px) {
  .footerContainer {
    padding: 0.8rem 0;
  }
  .footerNav li {
    padding: 0 0.5rem;
  }
}

@media (max-width: 680px) {
  .footerContainer {
    justify-content: flex-start;
    background: linear-gradient(
      217deg,
      var(--bg-dark02),
      rgba(0, 0, 0, 1) 100%
    );
    padding: 1rem;
    position: relative;
  }
  .footerNav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .footerNav li {
    padding: 0.5rem;
    border-right: none;
    font-size: 1rem;
  }
  .footerNav li:nth-of-type(5),
  .footerNav li:nth-of-type(6) {
    display: none;
  }
  .mobileIcons {
    display: flex;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    z-index: 999;
  }
  .mobileIcons > * {
    margin-left: 1rem;
  }
  .mobileIcons svg {
    height: 32px;
    width: 32px;
  }
  .liIcon {
    fill: white;
  }
}
